
.navbar{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color:#011029!important;
    border-bottom:1px solid #cfb361;
}
.navbar a {
  color:#fbfcf1b3!important;
  transition: .4s;
   border-bottom: 2px solid transparent;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .nav-link:hover{
  border-bottom: 2px solid #cfb361
}
.navbar :global(.nav-link.active) {
  border-bottom: 2px solid #cfb361;
  color: #cfb361;
}
/* .contactBtn{
  background-color:#cfb361;
  color:#f0f2f1;
  border:1px solid #cfb361;
  border-radius: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items:center;
  transition:.3s;
  border-bottom: 1px solid #cfb361!important;

  
}
.contactBtn:hover{
   background-color: #011029;
  color: #fff;

} */
 .secondaryBtn {
  border: 2px solid #cfb361;
  color: #cfb361;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
    border-bottom: 1px solid #cfb361!important;
    background-color: transparent;

}

.secondaryBtn:hover, .secondaryBtn:active {
  background-color: #cfb361!important;
  color: #fff;
  border: 2px solid #cfb361!important;
}
.primaryBtn {
  background-color: #f0f2f1;
  color: #011029;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
      border: 1px solid transparent;

}

.primaryBtn:hover {
    color:#f0f2f1;
    background-color: #011029;
    border: 1px solid #f0f2f1;
}
.navbar :global(.navbar-toggler):hover{
  border: 1px solid #f0f2f1!important;
}
.offcanvasCustom :global(.btn-close) {
  background-color: white!important;
}

/* footer */
.footer {
  color: #f0f2f1;
  
   background-image: url("https://res.cloudinary.com/do0eee789/image/upload/v1777124067/pexels-photo-7887851_gldxju.jpg");
  background-size: cover;
  height: 400px;
}
.heroSecColor{
    background-color: #011029c3;
   padding: 60px 0 30px;
        height: 400px;

}
.logo {
  font-weight: bold;
  font-size: 20px;
}

.text {
  color: #94a3b8;
  margin-top: 10px;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 8px;
}

.links a {
  color: #f0f2f1;
  text-decoration: none;
  transition: 0.2s;
}

.links a:hover {
  /* color: #ffffff; */
}

.divider {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 30px 0;
}

.copy {
  text-align: center;
  font-size: 14px;
  color: #94a3b8;
}
.dashboardMessage{
  width: 30%;
  right: 5%;
  left: 5%;
}
.formModal{
  background-color: #011029;
   box-shadow: rgba(0, 0, 0, 0.075) 0px 5px 15px 0px;
   border: 2px solid #cfb361;
}
.formModal h3{
  color: #f0f2f1;
}
.messageCard {
  position: fixed;
  top: 5%;
  right: 20%;
  left: 20%;
  background: #f0f2f1;
  color: #011029;
  padding: 12px 18px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;

  animation: fadeIn 0.3s ease-in-out;
}

/* fade out animation */
.messageCard.fade-out {
  animation: fadeOut 0.4s ease-in forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
@media (max-width: 991px) {
.offcanvasCustom :global(.nav-link) {
border-top: 1px solid #94a3b87d;
}
.offcanvasCustom .contactBtn{
width: 100%!important;
margin-top: 2vw;
padding: 5px;
}
    .footer {
  height: 500px;
}
 footer .heroSecColor{
        height: 500px;

}
}
@media (max-width: 768px) {
    .footer {
  height: 600px;
}
 footer .heroSecColor{
        height: 600px;

}

}